<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>361329804221-1nv52iu2e9j42a1dtd7ngof1t6e5umte.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361329804221-1nv52iu2e9j42a1dtd7ngof1t6e5umte</string>
	<key>API_KEY</key>
	<string>AIzaSyBtZQHOMNvcqb2EHsUhHNPFzkAEf_pI4L0</string>
	<key>GCM_SENDER_ID</key>
	<string>361329804221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.riopanuco.ga</string>
	<key>PROJECT_ID</key>
	<string>riopanuco</string>
	<key>STORAGE_BUCKET</key>
	<string>riopanuco.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361329804221:ios:0e5a75d68a4c892d</string>
	<key>DATABASE_URL</key>
	<string>https://riopanuco.firebaseio.com</string>
</dict>
</plist>